* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(94, 0, 0);
  text-align: center;
}
#logo {
  width: 70px;
}
.flex {
  display: flex;
}
.golden {
  background-color: #ffdf7f;
}
nav {
  background-color: #fef7e2;
  border-radius: 100px;
  flex-wrap: wrap;
  row-gap: 20px;
  text-align: center;
  justify-content: center;
  margin: 1em;
  padding: 2em;
}

a {
  text-decoration: none;
  border-radius: 3em;
  color: rgb(94, 0, 0);
  cursor: pointer;
  font-weight: bold;
  margin: 0.5em;
}

a:not(#shop) {
  padding: 1.5em;
  width: 45%;
}
.bigger {
  font-size: 2em;
  text-decoration: none;
  padding: 1.5em;
  margin: 0.5em 0;
  border-radius: 3em;
}
.flex.bigger.golden {
  order: -1;
  width: 80%;
  justify-content: center;
  margin: 0;
}
h1 {
  font-size: 4em;
  margin: 0.5em;
}

.bold {
  font-weight: bold;
}
.not-bold {
  font-weight: 100;
}
#card-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.card {
  width: 92%;
  text-align: center;
  background-color: #fef7e2;
  border-radius: 50% 50% 75px 75px;
}
.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 75px 75px 0 0;
  margin-bottom: 0.5em;
}

.specifiche {
  justify-content: space-around;
  padding: 1em;
  font-size: 25px;
}
span {
  font-size: 20px;
}
.price {
  font-size: 1em;
  margin-top: 0.5em;
}

button.golden {
  padding: 0.5em 5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 50px;
  color: rgb(94, 0, 0);
  cursor: pointer;
  font-size: 21px;
  font-weight: bold;
}
article {
  background-color: #fef7e2;
  padding: 2em;
  width: 90vw;
  margin: 0 auto;
  border-radius: 50px;
  gap: 1em;
  flex-wrap: wrap;
}
.left {
  text-align: left;
}
.left p {
  font-size: 22px;
  line-height: 1.4em;
}
article img {
  order: 1;
  width: 100%;
}

article div {
  flex-direction: column;
}

article h3 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  margin: 0.5em;
  margin-top: 2em;
}
